/*
Colors
$medium: #666;
$dark: #444;
$darker: #222;
$darkest: #000;
$light: #b4b4b4;
$lighter: #f2f2f2;
$lightest:#fff;
$lighten: rgba(255, 255, 255, 0.06);
$lighten-strong: rgba(255, 255, 255, 0.2);
$accent: #fc0;
$accent-dark: #e8a60c;
$error: #c00;
$darken: rgba(0, 0, 0, 0.06);
$darken-medium: rgba(0, 0, 0, 0.1);
$darken-strong: rgba(0, 0, 0, 0.6);
$darken-strongest: rgba(0, 0, 0, 0.8);
*/

body {
  background: #444;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: IBMPlex;
  src: url(../assets/fonts/IBMPlexSans-Regular.ttf);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.label {
  color: #FFF;
  /* padding: 2px; */
}

#info hr {
  margin: .5rem 0;
}

#info div {
  color: #f2f2f2;
  background: #444;
  position: absolute;
  right: 0;
  bottom: 5rem;
  font-family: IBMPlex;
  padding: 1rem .5rem;
  max-width: 40rem;
  width: 100%;
}

#info div h2 {
  margin-bottom: .5rem;
  color: #fc0;
}

#info div p:not(:last-child) {
  margin-bottom: .25rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.year-slidecontainer {
  /* width: 100%; Width of the outside container */
  position: absolute;
  bottom: 1.25rem;
  left: 5rem;
  right: 20rem;
}

.zoom-slidecontainer {
  /* width: 100%; Width of the outside container */
  position: absolute;
  bottom: 1.25rem;
  width: 15rem;
  right: 1rem;
}

.year-slider, .zoom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: .75rem;
  background: #b4b4b4;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: relative;
}

.year-slider::-webkit-slider-thumb, .zoom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: #fc0;
  cursor: pointer;
}

.year-slider::-moz-range-thumb, .zoom-slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: #fc0;
  cursor: pointer;
}

#current-year {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: #f2f2f2;
  font-size: 1.5rem;
}

.zoom-icon {
  fill: #fff;
  position: absolute;
  right: 16.5rem;
  bottom: .75rem;
}

.zoom-icon svg {
  height: 1.75rem;
  width: 1.75rem;
}